<h1>Groups#index</h1>

<div class="container">
<div class="card-deck">
    <% @groups.each do |group| %>
    <div class="card">
        <div class="card-body">
        <h5 class="card-title"><%= group.name %></h5>
        <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
        <button type="button" class="btn btn-outline-info"><%= link_to "Show", group_path(group.id) %></button>

        </div>

        <div class="card-footer">
        <small class="text-muted">Create at <%= group.updated_at  %></small>
        </div>

    </div>
    <% end%>
</div>

</div>